.Side-bar
  .Side-bar_top
    .Top-item
      .Top-item_name
        masa
      .Top-item_icon
        = link_to "#", class: "Contents__btn" do
          = icon('far', 'edit', class: 'left')
        = link_to "#", class: "Contents__btn" do
          = icon('fas', 'cog',class: 'right')
  .Side-bar_group  
    .head-space  
    %p1 techcamp
    .mid-space
    %p2 まだメッセージはありません
    .bot-space