* {
  box-sizing: border-box;
}
.wrapper{
 display: flex;
}
  .Side-bar{
    width: 300px;
    height: 100vh;
    background-color: #2f3e51;
    &_top{
      width: 300px;
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      justify-content: center;
      .Top-item{
        width: 260px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        &_name{
          color: #ffffff;
        }
        &_icon{
          display: flex;
          justify-content: flex-end;
          height: 20px;
          width: 60px;
          .Contents__btn{
            color: #ffffff;
          .right{
           margin-left: 5px;
           color: #ffffff;
          }
          }
        } 
      }
    }
    &_group {
      .Group{
        margin: 20px 0px 5px 0px;
        .Contents__gr{
          text-decoration: none;
        }
        .Group__name{
          font-size: 15px;
          font-weight: bold;
          margin: 0 20 0 20;
          color: #ffffff;
        }
        .Group__message{
          color: #ffffff;
          font-size: 11px;
          font-weight: bold;
          margin: 0 20 40 20;
        }
      }
    }
  }

  .Chat-main{
    width: calc(100% - 300px);
    height: 100%;
    background-color: #fafafa;
    &__group_info{
      height: 100px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      .left-box{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        font-size: 12px;
        color: #999999;
        .group-name{
          margin: 35px 0px 15px 0px;
          font-size: 20px;
          color: #333333;
        }
      }
      .Contents__ed{
        margin: 28px 40px 0px 0px;
        button{
          width: 72px;
          height: 40px;
          font-size: 16px;
          color: #38aef0;
          border-color: #38aef0;
          padding: 0px 20px;
          background-color: white;
        }
      }
    }
    .MessageField{
      overflow: scroll;
      height: calc(100vh - 190px);
    .Chat-main_group_message{
      
      display: flex;
      flex-direction: column;

      .name-message{
        display: flex;
        align-items: center;
        color: #999999;
        font-size: 12px;
        margin: 35px 0px 12px 40px;
        .post-name{
          color: #333333;
          font-size: 16px;
          margin-right: 5px;
        }
        span{
          }
        }
      p{
        color: #434A54;
        margin: 0px 0px 46px 40px;
        font-size: 14px;
         }
     
    } 
  }
    .Message-form{
      background-color: #d2d2d2;
      height: 90px;
      width: calc(100vw - 300px);
      position: absolute;
      bottom: 0px;
      .Form__contents{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        .Form__inputContent{
          height: 50px;
          width: 100%;
          margin: 20 0 20 20;
          padding-left: 10px;
          }
        .Form__icon{
          position: absolute;
          right: 200px;
          bottom: 30px;
          font-size: 30px;
        }
        .Hidden{
          display: none;
        }
        .Form__submit{
          height: 50px;
          font-size: 16px;
          background-color: #38aef0;
          color: #ffffff;
          border: none;
          margin: 0 40 0 15;
          padding: 0 30 0 30;
         }
         .field_with_errors {
           height: 100%;
           width: 100%;
           margin-right: 20px;
         }
      }
    }
  }